{% extends "base.html" %}
{% block title %}Listings {% endblock %}
{% block content %}
    <br /><br />
    <div id="ShowProfile">
        <h2>Listing {{ list_id }}</h2>
        <h3>{{ listing.name }}</h3>
        <p>${{ listing.price }}</p>
        <p>{{ listing.description }}</p>
    </div>
    <a href="{{ url_for('index') }}"<button type="show all" class="btn btn-primary">Show All</button></a>
    <br ><br />
    <a href="{{ url_for('listing_edit', listing_id=listing.id) }}"<button type="edit listing" class="btn btn-primary">Edit Listing</button></a>
    <br ><br />
    <a href="{{ url_for('listing_delete', listing_id=listing.id) }}"<button type="delete listing" class="btn btn-primary">Delete Listing</button></a>

{% endblock %}